html{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    background-color: rgb(255, 243, 226);
}

header {
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(217, 230, 248);
}

footer{
    background-color: rgb(217, 230, 248);
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

.logo-header{
    width: 25%;
}

.menu ul{
    display: flex;
    list-style-type: none;
}

.menu li a{
    color : black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
}


#introducao{
    display: flex; /* posição */
    min-height: 250px;
    align-items: center;
}

#introducao div{
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
}

#sobre-nos{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffc4a1;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 230, 248);
}

#produtos{
    padding-left: 100px;
    padding-right:100px;
}

#produtos h2{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
}

.conteudo-produto{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.produto{
    width: 200px;
    text-align: center;
}
.produto h3{
    font-size: 30px;
}
.produto p{
    font-size: 25px;
}

.direitos-autorais{
    padding-top: 25px;
    padding-bottom: 25px;
}

#form-contato{
    width: 60%;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grupos{
    font-weight: bold;
    color: black;
}

.grupos input,
.grupos textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:aliceblue;
}

.grupos input:focus,
.grupos textarea:focus{
    border-color:rgb(135, 166, 235);
    outline: none;
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    padding: 20px;
}

#contato button{
    width: 60%;
    max-width: 200px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color:rgb(205, 221, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: o.3 ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contato button:hover{
    background-color: cornflowerblue;
}

@media (max-width: 875px){
    #introducao{
        flex-direction: column;
        text-align: center;
    }

    #introducao div{
        padding-left: 0px;
        padding-right: 0px;
        width: 80%;
    }

    header{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo-header{
        width: 200px;
    }

    .conteudo-produto{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #produtos{
        padding-left: 0px;
        padding-right: 0px;
    }

    .produto{
        width: 80%;
    }

    #sobre-nos{
        text-align: center;
    }
    
    .menu ul{
        padding-left: 0;
        margin: auto;
    }
}